footer{
    background: #FFFFFF;
}

.footer{
    display: flex;
    max-width: 1231px;
    height: 244px;
    margin: 51px auto 0 auto;
}

.footer__logo{
    display: block;
    width: 255px;
    height: 58px;
}

.footer__wrapper {
    margin-left: 378px;

    &:last-child{
        margin-left: 150px;
    }

    h4{
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 24px;

        &:last-child{
            margin-bottom: 22px;
        }
    }

    p{
        padding: 2px 0 0 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;

        width: 139px;
    }
}

.footer__phone {
    display: flex;
}

.footer__social{
    img{
        cursor: pointer;
        padding-right: 16px;
    }   
}

.copyright{
    max-width: 1231px;
    margin: 0 auto;
    padding-bottom: 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    div{
        margin-bottom: 4px;
    }
}